Entornos virtuales

venv/
env/
ENV/

Archivos de caché de Python

pycache/
*.py[cod]
*$py.class

Pesos del modelo (suelen ser muy pesados para el GitHub normal)

*.pth
*.pt
*.onnx

Archivos del sistema operativo (Mac/Windows)

.DS_Store
Thumbs.db

Carpetas de datos locales (para no subir tus fotos de prueba)

data/